@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-family: 'Playfair Display', serif;
    text-shadow: 5px 5px 5px grey;
}
